*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*.iml
*.ipr
*.iws
.idea/
BUILD*
build*
.waf*
tags
.lock-wscript
*.pyc
doc/api.xml
tools/nodejs.pc
tmp/
node
node_g
*.swp
.benchmark_reports
/.project
/.cproject
node_modules
*.log

