<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <script src="underscore.js"></script>
    <script src="jquery.js"></script>
    <script src="backbone.js"></script>
    <style type='text/css'>
      input[type="text"] {
        width: 450px;
      }
      #bidArea {
        width:600px;
        margin: 10px auto;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

  <script src="application.js"></script>
</html>