<h1>Found top bid!</h1>
<p>Top bid: <%= $top_bids.top_bid.inspect %></p>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){

		window.int = window.clearInterval(window.int);

	});
</script>