<div id='bidArea'>
  <ul id='bids'></ul>
  <form method="post" action="#" id='bidForm' name="newBid" onsubmit="return false">
    <input id='bid' name='bid' type="text" />
    <input type="submit" value='Bid'/>
  </form>
</div>
