<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= css :application, :media => 'screen' %>
    <script src="http://localhost:4000/socket.io/socket.io.js"></script>
  </head>

  <body>
    <%= yield %>
    <%= js  :application %>
  </body>

</html>
