<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bidding Prototype</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <%= css :application, media: 'screen' %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }
    </style>

    <script type="text/javascript" src="/js/vendor/socket.io.js"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">
      window.socket = io.connect('http://localhost:4000');
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '617331874944410',
          channelUrl : '//localhost:3000/channel.html',
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true  // parse XFBML
        });

        FB.getLoginStatus(function(response) {
          if (response.status === 'connected') {
            var uid = response.authResponse.userID;
            var accessToken = response.authResponse.accessToken;
          } else if (response.status === 'not_authorized') {
            FB.login();
          } else {
            FB.login();
          }
         });

        FB.Event.subscribe('auth.authResponseChange', function(response) {
          if (response.status === 'connected') {
            testAPI();
          } else if (response.status === 'not_authorized') {
            FB.login();
          } else {
            console.log('not connected')
            FB.login();
          }
        });
      };

      // Load the SDK asynchronously
      (function(d){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all.js";
         ref.parentNode.insertBefore(js, ref);
       }(document));


      function testAPI() {
        $('#wrap').css('display', 'block');
        $('#fb-login').css('display', 'none');

        FB.api('/me', function(response) {
          socket.emit('participate', response.name);
          $.cookie('user_id', response.name, {expires: 1});
        });
      }
    </script>
    <div id="fb-login">
      <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>
    </div>

    <%= yield %>
    <%= js :application %>

  </body>
</html>
